body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
  background-color: #f7f7f7;
}

h1 {
  padding: .77rem 0;
  background-color: #1d3557;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #fff;
}

h1 .highlight {
  color: #24AFBA;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.header {
  font-size: 3.2rem;
  line-height: 4.5rem;
  padding: 7rem 9rem;
  background-color: #24AFBA;
}

/* Navigation */

.navigation {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-inline {
  width: 380px;
  color: #fff;
  background-color: #1d3557;
  border-radius: 54px;
  display: flex;
  justify-content: space-between;
}

.navigation-inline a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 2.4rem;
  transition: background-color .25s;
}

.left {
  border-top-left-radius: 54px;
  border-bottom-left-radius: 54px;
}

.right {
  border-top-right-radius: 54px;
  border-bottom-right-radius: 54px;
}

.navigation-inline a:hover {
  cursor: pointer;
  background-color: #24AFBA;
}

/* App */

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .header {
    font-size: 2.8rem;
    line-height: 4rem;
    padding: 3rem 1rem;
  }

  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-height: 300px) {
  #head {
    visibility: hidden;
  }
}